h1{
    font-size: 3rem;
}

nav{
    height: 30vh;
}

.header{
    background-color: beige;
    }
    

main{
    height: 60vh;
    background-color: bisque;
}


.row{
    justify-content: space-evenly;

}

.card{
    background-color: aquamarine
}

.color-boton{
    color: white;
    background-color: black;
}

.btn:hover{
    color: white;
    background-color: grey;
}

.color-buscar{
    background-color: black;
    color: white;
}

.navbar{
    padding: 3rem;
    justify-content: space-between;
}



.footer-fondo{
    background-color: beige;
}