h1{
    font-size: 3rem;
}

nav{
    height: 30vh;
}

.header{
    background-color: beige;
    }
    

main{
    height: 60vh;
    background-color: bisque;
}

@media (max-width:650px){
    main{
        min-height: 180vh;
    
    }
    
}

.row{
    justify-content: space-evenly;

}

.card{
    background-color: aquamarine
}

.color-boton{
    color: white;
    background-color: black;
}





.navbar{
    padding: 3rem;
    justify-content: space-around;
}



.footer-fondo{
    background-color: beige;
}